@import models.DataModel
@import helper._

@(dataModelForm: Form[DataModel])(implicit request: RequestHeader, messages: Messages)

@main("Add a New Book"){
    <div class="bookForm">
    @helper.form(action = routes.ApplicationController.addBookForm()) {
        @helper.CSRF.formField
        @helper.inputText(dataModelForm("_id"))
        @helper.inputText(dataModelForm("name"))
        @helper.inputText(dataModelForm("description"))
        @helper.inputText(dataModelForm("numSales"))
        @helper.inputText(dataModelForm("isbn"))
        <input class="submitButton" type="submit" value="Submit">
        }
    </div>
}